<div class="container">
    <h1 class="text-center">Registro de clientes/servicios</h1>
    <a href="#" routerLink="/clientsservices/create/" class="btn btn-success">Nuevo Cliente/Servicio</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Servicio</th>
                <th>Esquema</th>
                <th>Status</th>
                <th>Negocio</th>
                <th>Pago</th>
                <th>Fecha/Pago</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let clientsservices of clientsservicesfull">
                <td>{{clientsservices.ppc_id}}</td>
                <td>{{clientsservices.ppc_name}}</td>
                <td>{{clientsservices.pps_name}}</td>
                <td>{{clientsservices.ppsc_name}}</td>
                <td>{{clientsservices.ppst_name}}</td>
                <td>{{clientsservices.ppb_name}}</td>
                <td>{{clientsservices.ppcs_pay | currency:'USD':true:'1.2-2'}}</td>
                <td>{{clientsservices.ppcs_date_pay | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <a href="#" [routerLink]="['/clientsservices/', clientsservices.ppc_id, 'view']" class="btn btn-info">Info</a>
                    <a href="#" [routerLink]="['/clientsservices/', clientsservices.ppc_id, 'edit']" class="btn btn-primary">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>