<div class="" *ngIf="menuActive">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <nav class="navbar navbar-expand-custom navbar-mainbg">
      <a href="#" class="navbar-brand navbar-logo" routerLink="/home">Paper Plane</a>
      <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
              <li class="nav-item" *ngFor="let item of pages">
                <a class="nav-link" href="/{{item.userPages}}"><i class="fas fa-tachometer-alt"></i>{{item.pageName}}</a>
              </li>
          </ul>
      </div>
      <div>
        <a (click)="LogOut()" class="btn btn-alert" style="margin-right: 10px; margin-left: 10px; color:azure">
          <i class="fas fa-tachometer-alt"></i>LogOut
        </a>
      </div>
  </nav>
  </form>
</div>
<router-outlet></router-outlet>