<div class="row" *ngIf="menuActive">
  <div class="col-sm-auto sticky-top">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="d-flex flex-column flex-shrink-0 bg-light vh-100" style="width: 100px;">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item"> 
              <a routerLink="/home" class="nav-link py-3 border-bottom active"> 
                <i class="fa fa-home"></i> 
                <small>Paper Plane</small> 
              </a> </li>
            <li *ngFor="let item of pages"> 
              <a routerLink="{{item.userPages}}" class="nav-link py-3 border-bottom"> 
                <i class="fa fa-dashboard"></i> 
                <small>{{item.pageName}}</small> 
              </a> 
            </li>
        </ul>
        <div class="dropdown border-top"> 
          <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false"> 
            <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle"> 
          </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                <li><a class="dropdown-item" href="#">Nuevo Proyecto...</a></li>
                <li><a class="dropdown-item" href="#">Configuracion</a></li>
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" (click)="LogOut()">Cerrar sesion</a></li>
            </ul>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm p-3 min-vh-100">
    <router-outlet></router-outlet>
  </div>
</div>